.activ {
    margin: 20px 0px 20px 0px;
    width: 20%;
    display: grid;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgba(3, 147, 160, 0.596);
    border: 1px solid rgb(244, 247, 248);
    transition: all 1s;
}

.activ:hover {
    width: 20%;
    margin: 0px 0px 0px 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 5;
    transition: all 0.5s;
}


.activ_select {
    width: 20%;
    margin: 3px 0px 3px 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.name {
    margin: 0;
    color: rgb(250, 249, 249);
    font-size: 15px;
    border-bottom: 1px solid rgb(244, 247, 248);
    padding: 10px;
    ;
}

.price {
    color: rgb(250, 249, 249);
    font-size: 30px;
}

sup {
    padding: 2px;
    font-size: 10px;
}

sub {
    font-size: 10px;
}

.speed {

    font-size: small;
    text-align: center;
    color: rgb(32, 31, 31);
    background-color: rgb(228, 237, 237);
    padding: 5px 0 5px 0;
    margin-bottom: 0;
}

.text {
    font-size: 13px;
    line-height: 1.4;
    background-color: rgb(209, 215, 215);
    padding: 5px 0 0px 0;
    margin-bottom: 0;

}

.column0 {
    background-color: rgb(46, 195, 195);
}

.column1 {
    background-color: rgb(109, 103, 142);
}

.column2 {
    background-color: rgb(245, 123, 123);
}

.column3 {
    background-color: rgb(91, 192, 108);
}